@charset "utf-8";

// Bootstrap variables
$screen-xs-max: 768px !default;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #444;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-colour:       #828282;
$grey-colour-light: lighten($grey-colour, 40%);
$grey-colour-dark:  darken($grey-colour, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials
@import
        "pygments",
        "admonitions",
        "bootstrap-overrides",
        "base",
        "layout",
        "homepage"
;
