<div class="row">
  <div class="col-sm-1"></div>
  <div>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div class="col-sm-10" id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({
                element: "#search",
                showSubResults: true,
                debounceTimeoutMs: 0,
                sort: { date: "desc" }
            });
        });
    </script>
  </div>
  <div class="col-sm-1"></div>
</div>
