<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="hidden-xs">
      <div class="input-group input-group-lg">
        <input type="email" class="form-control" placeholder="Enter your email" />
        <span class="input-group-btn">
          <input type="commit" class="btn btn-default btn-primary" value="Subscribe!" />
        </span>
      </div>
      <span class="help-block small text-muted">Receive a weekly newsletter, every Monday. Easy to unsubscribe and no spam, promise.</span>
    </div>
    <div class="visible-xs-block">
      <div class="col-xs-12 form-group">
        <input type="email" class="form-control input-lg" placeholder="Enter your email" />
      </div>
      <div class="col-xs-12">
        <input type="commit" class="btn btn-default btn-primary btn-lg btn-block" value="Subscribe!" />
      </div>
      <div class="col-xs-12">
        <span class="help-block small text-muted">Receive a weekly newsletter, every Monday. Easy to unsubscribe and no spam, promise.</span>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
