<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="input-group input-group-lg">
      <input type="email" class="form-control" placeholder="Enter your email" />
      <span class="input-group-btn">
        <input type="commit" class="btn btn-default btn-primary" value="Subscribe!" />
      </span>
    </div>
    <span class="help-block small text-muted">Receive a weekly newsletter, every Monday. Easy to unsubscribe and no spam, promise.</span>
  </div>
  <div class="col-md-1"></div>
</div>
