{% extends "base.html" %}

{% block title %}
{{ article.title }} {%if article.subtitle %} - {{ article.subtitle }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if article.summary %}
{{ article.summary|striptags }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{% if article.tags or article.category or article.keywords %}
<meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
<div class="post">
  <header class="post-header">
    {% include "_post-title.html" %}
  </header>

  <article class="post-content">
    {{ article.content }}
  </article>

  {% include 'neighbors.html' %}
</div>

<div class="row text-center">
  <h3> Like what you see? Subscribe! </h3>
</div>

{% include "_subscribe-form.html" %}
{% endblock content %}
