<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% if article and article.author %}
    <meta name="author" content="{{ article.author }}" />
    <meta name="copyright" content="{{ article.author }}" />
    {% elif page and page.author %}
    <meta name="author" content="{{ page.author }}" />
    <meta name="copyright" content="{{ page.author }}" />
    {% else %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="copyright" content="{{ AUTHOR }}" />
    {% endif %}

    {% if SITE_DESCRIPTION %}
    <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION }}{% endblock head_description %}" />
    {% endif %}

    {% block meta_tags_in_head %}
    {% endblock meta_tags_in_head %}

    <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>

    {% block head_links %}
    {% endblock head_links %}

    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME|striptags }} - Full RSS Feed" />
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} - Full Atom Feed" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    {% assets filters="libsass,cssmin", output="css/web-min.css", "css/main.scss" %}

    <link rel="stylesheet" href="/{{ ASSET_URL }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.rust-lang.org/static/images/favicon-32x32.png" />
    <link rel="icon" type="image/svg+xml" href="https://www.rust-lang.org/static/images/favicon.svg" />
    <link rel="mask-icon" href="https://www.rust-lang.org/static/images/safari-pinned-tab.svg" color="#000" />

    {% endassets %}
  </head>
  <body>
    <header class="site-header">
      <div class="container wrapper">
        <a class="site-title" href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </div>
    </header>

    <div class="page-content">
      <div class="container wrapper">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    <footer>
      <div class="container wrapper">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <ul class="list-unstyled">
              <li><a href="{{ SITEURL }}/blog/archives/index.html">past issues</a></li>
              <li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">atom feed</a></li>
              <li><a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}">rss feed</a></li>
              <li><a href="{{ SOURCE_URL }}">source code</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-12">
            <ul class="list-unstyled">
              <li><a href="https://twitter.com/ThisWeekInRust">twitter</a></li>
              <li><a href="https://mastodon.social/@thisweekinrust">mastodon</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-12 text-right custom-xs-text-left">
            <ul class="list-unstyled">
              <li><a href="{{ SITEURL }}/pages/privacy-policy.html">privacy policy</a></li>
              <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa-4.0</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
