{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
<section>
{% if COMMENTS_INTRO %}
<p id="comment-message">{{ COMMENTS_INTRO }} </p>
{% endif %}
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle disqus-comment-count" data-toggle="collapse" data-parent="#accordion2"
                {% if article.disqus_identifier %}
                    data-disqus-identifier="{{ article.disqus_identifier }}"
                {% endif %}
                href="{{ SITEURL }}/{{ article.url }}#disqus_thread">
                Comments
            </a>
        </div>
        <div id="disqus_thread" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="comments">
                    {% include 'disqus_script_comment.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endif %}
