{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}
<div class="row-fluid">
    {% if LANDING_PAGE_ABOUT and LANDING_PAGE_ABOUT.title %}
    <header class="page_header span12">
    <h1><a href="{{ SITEURL }}">{{ LANDING_PAGE_ABOUT.title }}</a></h1>
    </header>
    {% endif %}

    <div class="row-fluid">
        {% if LANDING_PAGE_ABOUT and LANDING_PAGE_ABOUT.details %}
        <div class="span8">
            <div class="article-content">
                {{ LANDING_PAGE_ABOUT.details }}
            </div>
        </div>
        {% endif %}

        {% if PROJECTS %}
        <div class="span4">
            <header>
            <h1 id="my-projects">My Projects</h1>
            {% for project in PROJECTS %}
            <ul class="list-all-articles">
                <li>
                <a href="{{ project.url }}" title="{{ project.name }}">{{ project.name }}</a> <span class="proj_desc">{{ project.description }}</span>
                </li>
            </ul>
            {%endfor %}
        </div>
        {% endif %}
    </div>

    {% if articles %}
    <div class="row-fluid">
        <div class="span12">
            <header>
            <h1 id="recent-posts">Recent Posts <a id="allposts" href="{{ SITEURL }}/archives.html">all posts</a></h1>
            </header>
            {% for article in articles %}
            {% if not RECENT_ARTICLES_COUNT %}
            {% set RECENT_ARTICLES_COUNT = 10 %}
            {% endif %}
            {% if loop.index0 < RECENT_ARTICLES_COUNT %}
            <ul class="list-all-articles">
                <li>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a>
                <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </li>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
