{% extends "base.html" %}

{% block title %}
Search · {{ super() }}
{% endblock title %}

{% block head_links %}
{{ super() }}
<link href="http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:300,400" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">
{% endblock head_links %}

{% block head_description %}
Search results for {{ SITENAME|striptags }} blog.
{% endblock head_description %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         {% if 'tipue_search' in PLUGINS %}
             'mode' : 'json',
         {% else %}
             'mode': 'live',
         {% endif %}
         'show': 10,
         'newWindow': true,
         {# I cannot place following statements in the conditionals above because then Tipue Search fails to work. Possibly a bug in Tipue Search. #}
         {% if 'tipue_search' in PLUGINS %}
             'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
         {% else %}
             'liveDescription': '.article-content'
         {% endif %}
     });
});
</script>
{% endblock script %}

{% block content %}
<article>
    <div class="span8 offset2">
        <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
    </div>
</article>
{% endblock content %}
